/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*		FORM		*/
.form .form-preloader {

    background: url('../images/preloader.gif') no-repeat;
    width: 24px;
    height: 24px;
    margin: 0 0 10px 0;
}

.form .respond {
    margin-bottom:10px;

}

.form .respond.success {

    border-left: 5px solid green;
    padding: 0 0 0 20px;
    color: green;

}

.form .btn-default.resetForm {
    background: #eee;
    margin: 0 0 0 10px;
}

.form .repeater-data.clone {

    display: none;

}

.form .group {

}

.form .group.visible {
    display: block;
}

.form .group.invisible {
    display: none;

}

.form .group.disabled {
    display: block;
}

.form .logger {

    margin: 10px 0 30px 0;
}

.form .respond {
    margin:10px 0;
}

.form .error,
.form .validation-advice {
    padding: 5px;
    color: #A73A3A;
    background: #eec5c5;
}


.form:not(.form-inline) .buttonHolder {

    display:block;

}