
.form-table.dachcom_form_generator {
    background: #f8f8f8;border: 1px solid #efefef; font-size:12px;
}

.form-table.dachcom_form_generator .spacer{
    border-bottom: 1px solid #BBB;
}

.form-table.dachcom_form_generator th{
    padding:5px 0 0 5px;
    font-weight: normal;
}

.form-table.dachcom_form_generator td {
    padding:5px 0;
}

.form-table.dachcom_form_generator th label{
    font-weight:bold;
}